@use "../../mixins.scss";

.page{
    @include mixins.page();
    gap:2rem;
    &>div{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: start;
        &>*{
            flex: 1 1 0;
        }
    }
    &>hr{
        margin: 1rem 0;
        width: 110%;
        color: lightgray;
    }
}