.title{
    font-size: 2rem;
}
.author{
    font-size: 1rem;
}
.Book{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
    text-align: center;
}
.ImageWrapper{
    position: relative;
    .IconWrapper{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}